.modal {
  background-color: white;
  width: 50vw;
  height: fit-content;
  position: fixed;
  margin: auto;
  bottom: -50vh;
  z-index: 2;
  left: 0;
  right: 0;
  border-radius: 15px;
  opacity: 0;
  transition: all 0.8s;
  form {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    label {
      font-size: 1.5rem;
      flex-basis: 100%;
      color: gray;
      margin-bottom: 20px;
    }
    .title-input {
      flex-basis: 100%;
      color: gray;
      margin-bottom: 20px;
    }
    .date-input {
      color: gray;
      flex-basis: 50%;
    }
    .btns-block {
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      button {
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 10%;
        background-color: #e44332;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color: white;
        }
      }
    }
  }
}

.modal_show {
  background-color: #fff;
  position: fixed;
  bottom: 50vh;
  opacity: 1;
}

@media (max-width: 700px) {
  .modal {
    width: 90vw;

    form {
      .btns-block {
        margin-top: 10px;
        flex-basis: 100%;
      }
    }
  }

  .modal_show {
    background-color: #fff;
    position: fixed;
    bottom: 40vh;
    opacity: 1;
  }
}
