
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-nav></app-nav>
  <app-modal></app-modal>
  <div class="overlay" [class.overlay_show]="isShow$ | async" (click)="hide()">

  </div>
<!--            <Modal-->
<!--              modalClassName="{modalClassName}"-->
<!--              closeModal="{closeModal}"-->
<!--              getToday="{getToday}"-->
<!--            />-->
<!--            <Switch>-->
<!--              <Route exact path="/Todoist-Clone">-->
<!--                <Main getToday="{getToday}" />-->
<!--              </Route>-->

<!--              <Route path="/Todoist-Clone/today">-->
<!--                <Today todos="{todos}" getToday="{getToday}" />-->
<!--              </Route>-->
<!--              <Route path="/Todoist-Clone/week">-->
<!--                <Week-->
<!--                  todos="{todos}"-->
<!--                  getToday="{getToday}"-->
<!--                  dayOfFirst="{dayOfFirst}"-->
<!--                  days="{days}"-->
<!--                  getDay="{getDay}"-->
<!--                />-->
<!--              </Route>-->
<!--              <Route path="/Todoist-Clone/month">-->
<!--                <Month-->
<!--                  todos="{todos}"-->
<!--                  getToday="{getToday}"-->
<!--                  dayOfFirst="{dayOfFirst}"-->
<!--                  days="{shortDaysNames}"-->
<!--                  months="{months}"-->
<!--                  getDay="{getDay}"-->
<!--                />-->
<!--              </Route>-->

<!--              <Route path="/Todoist-Clone/login">-->
<!--                <Login authState="{authState}" />-->
<!--              </Route>-->
<!--            </Switch>-->
