<div #nav class="nav" [class.nav_show]="isShow$ | async" >
  <button class='close-btn' (click)="closeNav()">
    <i class='material-icons'>clear</i>
  </button>
  <nav>
    <ul>
<!--      <li>-->
<!--        <button className='logout-btn' onClick={logoutHandler}>-->
<!--          Logout-->
<!--        </button>-->
<!--      </li>-->
      <li (click)="closeNav()">
        <a [routerLink]='routePaths.MAIN'>Main</a>
      </li>
      <li (click)="closeNav()">
        <a [routerLink]='"/" + routePaths.TODAY'>Today</a>
      </li>
      <li (click)="closeNav()">
<!--        <Link to='/Todoist-Clone/week'>Week</Link>-->
      </li>
      <li (click)="closeNav()">
<!--        <Link to='/Todoist-Clone/month'>Month</Link>-->
      </li>
    </ul>
  </nav>
</div>
